li {
    list-style-type: none;
    width: 33%;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 25px;
}

/* Your code here */
li[data-type="drinks"] {
    background-color: yellowgreen;
}

li[data-type="bakery"] {
    background-color: thistle;
}

li[data-type="canned"] {
    background-color: skyblue;
}

li[data-type="dairy"] {
    background-color: aquamarine;
}

li[data-type="frozen"] {
    background-color: blue;
}

li[data-type="meats"] {
    background-color: blueviolet;
}

li[data-type="produce"] {
    background-color: chocolate;
}

li[data-type="toiletries"] {
    background-color: chartreuse;
}

li[data-type="other"] {
    background-color: forestgreen;
}
